@media only screen and (max-width: 608px){
nav#menu span.fa.fa-bars {
left: 60px;
}
#logoTop img {
  width: 30%;
}
.header-text.btn {
height: auto;
white-space: inherit;
}
.hover-bg .hover-text {
padding: 15% 0;
}
#overview-video .overlay{
	padding-bottom: 1%;
  padding-top: 0%;
}

a.down-btn span.fa.fa-angle-down {
  margin-top: 20px;
  margin-bottom: 20px;
}

#home a.down-btn span.fa.fa-angle-down{
  margin-top: 550px;
}
#home{
	background: url(../img/bgmobilehome.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;
	min-height: 710px;
	padding-top: 60px;
	color: #ffffff;
}

}

@media only screen and (max-width: 460px){
h3 {
    font-size: 11px;
}

.nopadding {
  padding: 18px;
}

.space {
  padding-top: 70px;
}

body {
  font-size: 11px;
}

#projects h3 {
  font-size: 11px;
  line-height: 20px;
}

#projects .overlay{
  min-height: 840px;
}

nav#menu span.fa.fa-bars {
left: 30px;
}
.content {
padding-top: 30%;
}
.hover-bg .hover-text {
padding: 20% 0;
}

}
@media only screen and (max-width: 360px){
h1 {
    font-size: 36px;
}
h3 {
    font-size: 11px;
}
hover-bg .hover-text {
    padding: 25% 0px;
}
.pull-left,
.pull-right {
    float: none !important;
    text-align: center;
}
}
@media only screen and (max-width: 320px){
h1 {
    font-size: 30px;
}
hover-bg .hover-text {
    padding: 30% 0px;
}
}
